@model IEnumerable<KTUSTPPBiudzetas.Models.Check>

@{
    ViewData["Title"] = "CheckList";
}

<h1>Check list</h1>

<p>
    <a asp-action="Create" asp-controller="Checks">Create New Check</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>*@
            <td>
                <a asp-action="Edit" asp-controller="Checks" asp-route-id="@item.Id">Edit</a> |
                @*@Html.ActionLink("Details", "GetPurchases", "Purchases", new { item.Id })*@
                <a asp-action="GetPurchases" asp-controller="Purchases" asp-route-CheckId="@item.Id" >Details</a> |
                <a asp-action="Delete" asp-controller="Checks" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Budget" asp-action="Index">Back to Home</a>
</div>