@model IEnumerable<KTUSTPPBiudzetas.Models.Member>

@{
    ViewData["Title"] = "MemberList";
}

<h1>Members</h1>

<p>
    <a asp-controller="Members" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FamilyLevel)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Token)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitState)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FamilyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitState)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>*@
            <td>
                <a asp-action="Edit" asp-controller="Members" asp-route-id="@item.Id">Edit</a> @*|*@
                @*<a asp-action="GetMember" asp-controller="Members" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Budget" asp-action="Index">Back to List</a>
</div>