@model IEnumerable<KTUSTPPBiudzetas.Models.Message>

@{
    ViewData["Title"] = "List";
}

    <h1>Message List</h1>

<p>
    <a asp-controller="Messages" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Reciever)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => @ViewData["SenderId"])
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Reciever.Password)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>*@
            <td>
                @*<a asp-controller="Messages" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-controller="Messages" asp-action="Details" asp-route-id="@item.Id">Details</a> @*|*@
                @*<a asp-controller="Messages" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Messages" asp-action="GetMessages">Back to List</a>
</div>